<!-- Copyright & Socials -->
        <footer class="copy-and-soc">

            <!-- Inner Block -->
            <div>

                            
            <div class="socials-wrap">
                <a href="#" target="_blank">
                    <i class="fa fa-behance rf-button"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-twitter rf-button"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin rf-button"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-vk rf-button"></i>
                </a>
                <a href="#" target="_blank" class="empty-social">
                    <i class="fa fa-pinterest rf-button"></i>
                </a>
                <a href="#" target="_blank" class="empty-social">
                    <i class="fa fa-vk rf-button"></i>
                </a>
                <a href="#" target="_blank" class="empty-social">
                    <i class="fa fa-reddit rf-button"></i>
                </a>
                <a href="#" target="_blank" class="empty-social">
                    <i class="fa fa-dribbble rf-button"></i>
                </a>
                <a href="#" target="_blank" class="empty-social">
                    <i class="fa fa-vk rf-button"></i>
                </a>
                <a href="#" target="_blank" class="empty-social">
                    <i class="fa fa-skype rf-button"></i>
                </a>
            </div>
            <!-- Copyright -->
            <div class="copyright-wrap">
                <p>
                    Hyper-X Theme. By max-themes 2016 © </p>
            </div>

                <!-- Fixed Fold Button -->
                <div class="footer-fold-btn">
                    <i class="fa fa-chevron-up"></i>
                </div>

                <!-- clear floats -->
                <div class="clear"></div>

            </div>
            <!-- End Inner Block -->

        </footer>