


<body class="home page page-id-6 page-template page-template-portfolio page-template-portfolio-php logged-in royal-page-preloader sidebar-top sidebar-top-fixed sidebar-top-scale deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-sharing project-info-right infinitescroll-twitter open-house wpb-js-composer js-comp-ver-4.7.4 vc_responsive">

   

    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="none" data-fx-speed="500">

      
        


        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Google Map - top of the Page -->

            <div id="royal-gmap" class="google-map-wrap body-section" data-location="So173sq" data-title="My Base is Here" data-map-type="ROADMAP" data-zoom="13" data-scroll="" data-nav="" data-type-control="">

                <div class="google-map"></div>

            </div>

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Contact & Contact info -->
                <div class="contact-form-wrap inner-content body-section">

                    <section class="contact-form ">
                        <h3 class="contact-title"><span>Send Message</span></h3>
                        <form id="contact-form" action="#">
                            <input name="name" id="name" type="text" class="rf-input pers-name " data-placeholder="*Name" value="*Name" aria-required="true">
                            <input name="mail" id="mail" type="text"  class="rf-input pers-email " data-placeholder="*Email" value="*Email" aria-required="true">
                            <input name="subject" id="subject" type="text"  class="rf-input" data-placeholder="Subject" value="Subject">
                            <textarea name="comment" id="comment" class="rf-input pers-message " rows="8" data-placeholder="*Message">*Message</textarea>
                            <input type="submit" id="submit_contact" value="Send Message" class="submit-btn rf-button">
                            <div id="msg" class="message"></div>
                        </form>
                    </section>

                    <aside class="contact-info">

                        <h3 class="contact-title"><span>Contact Info</span></h3>

                        <ul>
                            <li><span>Author: <a href="http://themeforest.net/user/royal-flush" target="_blank">Royal-Flush</a></span></li>
                            <li><span>Address: <strong>London, UK</strong></span></li>
                            <li><span>Mobile: <strong>+9955 55 600 449</strong></span></li>
                            <li><span>Support: We offer <strong> 24/7 support</strong></span></li>
                            <li><span>This page is created with inbuilt Contact Page Template. You can relayout it (ex: move Google Map from top to bottom or vice versa) and tweak many other options from the <a href="http://wp-royal.com/hyper-x/athena/contact/customize.php">Theme Customizer</a></span></li>
                        </ul>

                    </aside>

                </div>
                <!-- end .contact-form-wrap -->

            </div>
            <!-- end .inner-content-wrap -->

            <!-- Google Map - bottom of the Page -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->


        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->


    
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?v=3.exp&#038;ver=4.3.1#038;sensor=false'></script>

</body>
